/* === Navbar === */
.navbar {
  width: 100%;
  background: #111; /* dunkler Balken */
  padding: 15px 0;
  position: sticky; /* fixiert oben */
  top: 0;
  z-index: 1000;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 8px 15px;
  border-radius: 5px;
}

.navbar a:hover {
  color: #04fc00; /* Violett */
  text-shadow: 0 0 10px #00ff26, 0 0 20px rgb(198, 12, 12);
}